<div ng-controller="ContactCtrl as vm">

  <div class="jumbotron" >
    <!-- <h1>contact</h1>
    <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p> -->
  <p><a class="btn btn-lg btn-success" ng-click="vm.getTopDestinations()">Top Destinations<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">

</div>

<div class="container">
  <h2>Top Matches</h2>
  <ul class="list-group" ng-repeat="dest in vm.topDestinations">
    <li class="list-group-item">{{dest.destination.cityName}}<span class="badge">{{dest.rank}}</span></li>
  </ul>
</div>

</div>
