<div ng-controller="ContactCtrl as vm">

  <div class="jumbotron" >
    <!-- <h1>contact</h1>
    <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p> -->
  <p><a class="btn btn-lg btn-success" ng-click="vm.getTopDestinations()">Top Destinations <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">


</div>

<div class="container">

  <div class="row">
    <!-- <div class="btn-group col-xs-4" uib-dropdown>
      <button id="split-button" type="button" class="btn btn-primary">Airport</button>
      <button type="button" class="btn btn-primary" uib-dropdown-toggle>
        <span class="caret"></span> -->
        <!-- <span class="sr-only">Split button!</span> -->
      <!-- </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button" ng-repeat="airport in vm.airports track by $index"> -->
        <!-- <a class="btn btn-info"> -->
          <!-- <li role="menuitem">
            {{airport}} -->
            <!-- <span class="glyphicon" ng-click="vm.setDepartureLocation(airport)"></span> -->
          <!-- </li> -->
        <!-- </a> -->

        <!-- <li role="menuitem"><a ng-click="vm.setDepartureLocation('NYC')">NYC</a></li>
        <li role="menuitem"><a ng-click="vm.setDepartureLocation('CHI')">CHI</a></li>
        <li role="menuitem"><a ng-click="vm.setDepartureLocation('DFW')">DFW</a></li> -->
        <!-- <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li> -->
      <!-- </ul> -->
<!--  -->
<!--  -->

    </div>

    <div col-xs-4>
      <!-- <ul class="list-group" ng-repeat="airport in vm.airports">
        <li class="list-group-item">{{airport}}<span class="badge">{{airport}}</span></li>
      </ul> -->
    </div>

    <div class="btn-group col-xs-4" uib-dropdown>
      <button id="split-button" type="button" class="btn btn-primary">Desired Region</button>
      <button type="button" class="btn btn-primary" uib-dropdown-toggle>
        <span class="caret"></span>
        <!-- <span class="sr-only">Split button!</span> -->
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
        <li role="menuitem"><a ng-click="vm.setArrivalLocation('Africa')">Africa</a></li>
        <li role="menuitem"><a ng-click="vm.setArrivalLocation('Asia Pacific')">Asia Pacific</a></li>
        <li role="menuitem"><a ng-click="vm.setArrivalLocation('Latin America')">Latin America</a></li>
        <li role="menuitem"><a ng-click="vm.setArrivalLocation('Middle East')">Middle East</a></li>
        <li role="menuitem"><a ng-click="vm.setArrivalLocation('North America')">North America</a></li>
        <!-- <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li> -->
      </ul>
    </div>
  </div>

  <table class="table" ng-show="vm.isDestinations()">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Destination</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="dest in vm.topDestinations">
        <th scope="row">{{dest.rank}}</th>
        <td>{{dest.destination.cityName}}</td>
        <td>
          <!-- <a class="blue-text">sdfsd<i class="fa fa-user"></i></a> -->
          <a class="btn btn-success" ng-click="vm.getFlightToDestinations(dest.destination.airportName)"><span class="glyphicon glyphicon-ok"></span></a>
        </td>
      </tr>
    </tbody>
  </table>

  <ul class="list-group" ng-repeat="dest in vm.topDestinations">
    <li class="list-group-item">{{dest.destination.cityName}}<span class="badge">{{dest.rank}}</span></li>
  </ul>
</div>

</div>
